<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">

  <title>
    England Infected Blood Support Scheme
  </title>

  <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-55Roman.woff2" type="font/woff2" crossorigin>
  <link rel="preload" as="font" href="https://assets.nhs.uk/fonts/FrutigerLTW01-65Bold.woff2" type="font/woff2" crossorigin>
  <link rel="preconnect  dns-prefetch" href="https://www.nhs.uk/">
  <link rel="preconnect  dns-prefetch" href="https://assets.nhs.uk/" crossorigin>

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/eibss.css">
  <link rel="stylesheet" href="/css/tabs.css">
  <script type="text/javascript" src="/docs/assets/javascript/tabs.js"></script>
  <link rel="stylesheet" href="https://design-system.service.gov.uk/stylesheets/main-5ba79ded317e86b44e74c5abfcbd056e.css">


  <script src="/js/main.min.js" defer></script>
  <script src="https://design-system.service.gov.uk/javascripts/govuk-frontend-d7b7e40c8ac2bc81d184bb2e92d680b9.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script>
    $(document).ready(function() {
      $('#type').on('change', function() {
        if (this.value == '2')
        //.....................^.......
        {
          $("#payment-type").show();
        } else {
          $("#payment-type").hide();
        }
      });
    });
  </script>

  <link rel="shortcut icon" href="/nhsuk-frontend/assets/favicons/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/nhsuk-frontend/assets/favicons/apple-touch-icon-180x180.png">
  <link rel="mask-icon" href="/nhsuk-frontend/assets/favicons/favicon.svg" color="#005eb8">
  <link rel="icon" sizes="192x192" href="/nhsuk-frontend/assets/favicons/favicon-192x192.png">
  <meta name="msapplication-TileImage" content="/nhsuk-frontend/assets/favicons/mediumtile-144x144.png">
  <meta name="msapplication-TileColor" content="#005eb8">
  <meta name="msapplication-square70x70logo" content="/nhsuk-frontend/assets/favicons/smalltile-70x70.png">
  <meta name="msapplication-square150x150logo" content="/nhsuk-frontend/assets/favicons/mediumtile-150x150.png">
  <meta name="msapplication-wide310x150logo" content="/nhsuk-frontend/assets/favicons/widetile-310x150.png">
  <meta name="msapplication-square310x310logo" content="/nhsuk-frontend/assets/favicons/largetile-310x310.png">

</head>

<body>
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <header class="nhsuk-header nhsuk-header--transactional" role="banner">
    <div class="nhsuk-width-container nhsuk-header__container">
      <div class="nhsuk-header__logo nhsuk-header__logo--only">
        <a class="nhsuk-header__link" href="/" aria-label="NHS homepage">
          <svg class="nhsuk-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 16">
            <path class="nhsuk-logo__background" d="M0 0h40v16H0z"></path>
            <path class="nhsuk-logo__text"
              d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6">
            </path>
          </svg>
        </a>
      </div>
      <div class="nhsuk-header__transactional-service-name">
        <a class="nhsuk-header__transactional-service-name--link" href="#">England Infected Blood Support Scheme</a>
      </div>
      <span class="header-links">
        <span>
          Sam Curtis Jones
        </span>
        <a href="signed-out" class="nhsuk-account-navigation__link nhsuk-account-navigation__link1">(Sign out)</a>
      </span>
    </div>
  </header>
  <div class="app-beta">
    <div class="nhsuk-width-container app-beta__container">
      <p class="app-beta__content">
        <strong class="nhsuk-tag app-beta__tag">
          BETA
        </strong>
        <span class="app-beta__text">
          This is a new service - your <a href="https://www.snapsurveys.com/wh/s.asp?k=151257549007">feedback</a> will help us to improve it.
        </span>
      </p>
    </div>
  </div>
  <div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper" id="maincontent" role="main">
      <div class="nhsuk-grid-row container">
        <div class="nhsuk-grid-column-full">
          <h1 class="nhsuk-heading-l">
            Sam Curtis Jones
          </h1>
          <p class="nhsuk-body-l">Reference: 009999</p>
          <!--tabs-->
          <div class="govuk-tabs" data-module="govuk-tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>
            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="/eibss/details-person">
                  Personal details
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="/eibss/details-contact">
                  Contact information
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="/eibss/details-payments">
                  Payments
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="/eibss/details-bank">
                  Bank details
                </a>
              </li>
              <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                <a class="govuk-tabs__tab" href="">
                  Applications
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab" href="/eibss/details-notes">
                  Notes
                </a>
              </li>
            </ul>
            <!--content 1-->
            <div class="govuk-tabs__panel" id="personal-details">
              <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                  <!--
                  <span class="back">
                    <p>
                      <a href="/eibss/details-applications" class="nhsuk-link">Back to applications</a>
                    <p>
                  </span>                  -->


                </div>
                <div class="nhsuk-grid-column-two-thirds">
                  <h2 class="govuk-heading-l">Edit Application</h2>
                </div>
                <div class="nhsuk-grid-column-one-third">
                  <!--
                  <span class="edit">
                    <p>
                      <a href="#" class="nhsuk-link">Edit Application</a>
                    <p>
                  </span>                  -->


                </div>
                <div class="nhsuk-grid-column-full">
                  <div class="nhsuk-grid-column-full">
                    <table role="table" class="nhsuk-table-responsive">

                      <tbody class="nhsuk-table__body">


                        <tr role="row" class="nhsuk-table__row">
                          <td role="cell" class="nhsuk-table__cell">
                            <strong>Decision date</strong>
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                            <div class="nhsuk-form-group">
                              <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
                            </div>
                          </td>
                          <td role="cell" class="nhsuk-table__cell">

                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                          </td>
                          <td role="cell" class="nhsuk-table__cell">

                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                          </td>
                        </tr>

                        <tr role="row" class="nhsuk-table__row">
                          <td role="cell" class="nhsuk-table__cell">
                            <strong>Decision reason</strong>
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                            <div class="nhsuk-form-group">
                              <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
                            </div>
                          </td>
                          <td role="cell" class="nhsuk-table__cell">

                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                          </td>
                          <td role="cell" class="nhsuk-table__cell">

                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                          </td>
                        </tr>


                        <tr role="row" class="nhsuk-table__row">
                          <td role="cell" class="nhsuk-table__cell">
                            <strong>Approved amount</strong>
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                            <div class="nhsuk-form-group">
                              <input class="nhsuk-input nhsuk-input--width-10" id="input-width-10" name="test-width-10" type="text">
                            </div>
                          </td>
                          <td role="cell" class="nhsuk-table__cell">

                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                          </td>
                          <td role="cell" class="nhsuk-table__cell">

                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                          </td>
                        </tr>

                        <tr role="row" class="nhsuk-table__row">
                          <td role="cell" class="nhsuk-table__cell">
                            <strong>Approver</strong>
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                            <div class="nhsuk-form-group">
                              <select class="nhsuk-select" id="select-1" name="select-1">
                                <option value="4" selected>Option 1</option>
                                <option value="5">Option 2</option>
                                <option value="6">Option 3</option>
                              </select>
                            </div>
                          </td>
                          <td role="cell" class="nhsuk-table__cell">

                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                          </td>
                          <td role="cell" class="nhsuk-table__cell">

                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                          </td>
                        </tr>

                      </tbody>
                    </table>

                    <div class="nhsuk-grid-row">
                      <div class="nhsuk-grid-column-full">
                        <div class="spacer">
                          <button class="nhsuk-button" type="submit">
                            Save and continue
                          </button>
                          <p>
                            <a href="/eibss/view-application" class="nhsuk-link">Cancel</a>
                          <p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>




            </div>
    </main>
  </div>
  <footer role="contentinfo">
    <div class="nhsuk-footer" id="nhsuk-footer">
      <div class="nhsuk-width-container">
        <h2 class="nhsuk-u-visually-hidden">Support links</h2>
        <ul class="nhsuk-footer__list">
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Accessibility statement</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Contact us</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Cookies</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Privacy policy</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Terms and conditions</a></li>
        </ul>
        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      </div>
    </div>
  </footer>

</html>
